@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafafa;
  --foreground: #171717;
  --highlight-color: #22c55e;
  --tile-hover-color: #f4f4f5;
  --nav-button-color: #18181b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #fafafa;
    --highlight-color: #4caf50;
    --tile-hover-color: #262626;
    --nav-button-color: #fafafa;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
