@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #add8e6;
  --highlight-color: #22c55e;
  --tile-hover-color: #e0f7fa;
  --nav-button-color: #00796b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #333333;
    --foreground: #ffffff;
    --highlight-color: #4caf50;
    --tile-hover-color: #004d40;
    --nav-button-color: #004d40;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
