.custom-day {
  border-radius: 30%;
  transition: background-color 0.2s;
}

.custom-day:hover {
  background-color: #f4f4f5;
}

.custom-day.selected {
  background-color: #18181b;
  color: white;
}

.custom-month {
  padding: 10px;
  border-radius: 10px;
}

.custom-selected {
  background-color: #18181b;
  color: white;
}

.custom-arrow {
  background-color: #f4f4f5;
  border-radius: 20%;
  margin-left: 1rem;
  height: 2rem;
  width: 3rem;  
  color: #18181b; 
}

.custom-arrow:hover {
  background-color: #e4e4e7; 
  color: #18181b;
}

.custom-today{
  color: #18181b;
  font-weight: bold;
}